body {
	background-color: #EFECCA;
}

form {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}

.btn_retour {
	height: 30px;
	width: 130px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 4px;
	border-radius: 3px;
	border-style: none;
	background-color: #4C767A;
	&:hover{background-color: #6B979C};
}

.bloc_article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.article {
	height: 100%;
	width: 75%;
	background-color: #6B979C;
	margin: 2px;	
}

img {

	height: 750px;
	/*width: %;*/
}

h3 {
	text-align: center;
	margin-top: 30px;
	font-size: 30px;
	color: #033246;
}

.infos_art {
	/*display: flex;*/
	/*flex-direction: row;*/
	margin: 50px;
	text-align: center;
	margin-top: 0px;
	color: #033246;
}

.content {
	margin: 100px;
	text-align: justify;
	color: #033246;
}

