@import "components/home";



body {
	background-color: #EFECCA;
}

form.login {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
}

input {
	height: 20px;
	width: 130px;
	border-radius: 3px;
	border-style: 1px solid;
	background-color: #EFECCA;
	/*margin: 1px;*/
}

.btn_login {

	height: 30px;
	width: 130px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 4px;
	border-radius: 3px;
	border-style: none;
	background-color: #4C767A;
	&:hover{background-color: #6B979C};
}

div.titre_principal {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

}



/*main {
	height: 100%;
	width: 1000px;
	margin-left: 250px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #4C767A;
}*/

h1 {
	color: #4C767A;
	font-size: 40px;
	/*height: 40px;
	width: 1000px;
	background-color: #4C767A;*/
	text-align: center;
}


.filtre {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

select {
	height: 40px;
	width: 500px;
	font-size: 16px;
	color: #EFECCA;
	text-decoration: none;
	border-radius: 3px;
	border-style: none;
	background-color: #A7A37E;
}

.bloc_articles {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.article {
	height: 500px;
	width: 300px;
	background-color: #6B979C;
	margin: 2px;	
}


.img {
	height: 40%;
	/*width: 100%;*/
}

img {
	height: 100%;
	width: 100%; 

}

a {
	text-decoration: none;
	color: #EFECCA;
	
}


p {
	margin: 0px 15px 5px 15px;
	font-size: 12px;
	text-align: justify;
}

.titre_art {
	display: flex;
	justify-content: center;
	margin: 10px;
	font-size: 14px;
	text-align: center;
	
}

.publish_date {
	display: flex;
	justify-content: flex-end;
}

.author {
	display: flex;
	justify-content: flex-end;
}