@import "components/home";


.btn_connexion {

	height: 30px;
	width: 130px;
	font-size: 16px;
	color: white;
	text-decoration: none;
	margin: 4px;
	border-radius: 3px;
	border-style: none;
	background-color: #4C767A;
	&:hover{background-color: #6B979C};
}